.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.LoginPage{
  background-color: #4e77ff;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: rgb(53, 3, 3);
  font-family: 'Courier New', Courier, monospace;
}

.RegistrationPage{
  background-color: #1faaa3;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: rgb(35, 23, 58);
}

.UserPage{
  background-color: #7aecbd;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: rgb(34, 4, 54);
}

.auth-form{
  background-color: #ffffff;
  display: flex;
  flex-direction: initial;
  align-items: center;
  color: rgb(59, 2, 2);
  margin-top: 10pt;
  padding: 10px;
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
}

.submitButton{
  margin: 5pt;
  padding: 1px;
}

.text-field{
  margin: 2pt;
  padding: 1px;
}